body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

.type-light {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 200;
}

.type-regular {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
}

.type-bold {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
}

body {
  background-color: #fafafa;
}

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #cfdac8;
}

#header button span {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  border-radius: .25rem;
}

#header .iconoGlobo {
  width: 50px;
}

#header .miNavBar {
  color: #333;
  font-weight: 400;
  text-decoration: none;
}

#header .miNavBar:hover {
  border-bottom: solid 1px black;
}

.btn-contact {
  position: absolute;
  right: 10px;
}

.imagenCarrusel {
  width: 100%;
}

.contenedor_mobile {
  display: none;
}

.Carrousel {
  margin-top: 98px;
}

@media (max-width: 768px) {
  .btn-contact {
    position: relative;
    right: 0;
  }
  .Carrousel {
    display: none;
  }
  .contenedor_mobile {
    display: block;
    text-align: center;
    margin-top: 98px;
  }
  .contenedor_mobile .contenedor_mobile-image {
    width: 100%;
    height: 20vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../images/pastasfrescas-mobile.jpg);
  }
  .contenedor_mobile .contenedor_mobile-image2 {
    width: 100%;
    height: 20vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../images/piza-mobile.jpg);
  }
  .contenedor_mobile .contenedor_mobile-image3 {
    width: 100%;
    height: 20vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../images/tapasss-mobile.jpg);
  }
}

#footer {
  background-color: #cfdac8;
}

#footer a {
  color: black;
}

#footer .bi-telegram {
  display: block;
  color: black;
}

#footer .list_socialMedia {
  border: 0.5px solid;
  border-right: black;
  border-left: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  padding: 20px;
}

/* RECETAS STYLE */
.marginTop {
  margin-top: 98px;
}

.contenedorImg img:hover {
  opacity: 0.6;
}

.bannerRecetas {
  width: 100%;
  height: 20vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/recetas/banner4.jpg);
  height: 85vh;
}

.bannerRecetas .cuadradoBanner {
  margin: 1vh;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45vh;
  right: 0px;
  background-color: #fafafa;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.bannerRecetas .cuadradoBanner span {
  color: #f95500;
  font-size: 1.5em;
}

.bannerRecetas .cuadradoBanner .mensaje2 {
  color: #a769af;
}

.contenidoCentrado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

/*Tienda Style*/
.bannerTienda {
  width: 100%;
  height: 20vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/recetas/banner3.jpg);
  height: 85vh;
}

.bannerTienda .cuadradoBanner {
  margin: 1vh;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45vh;
  right: 0px;
  background-color: #fafafa;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.bannerTienda .cuadradoBanner span {
  color: #f95500;
  font-size: 1.5em;
}

.bannerTienda .cuadradoBanner .mensaje2 {
  color: #a769af;
}

@media (max-width: 576px) {
  .bannerTienda {
    width: 100%;
    height: 20vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../images/recetas/banner3.jpg);
    height: 85vh;
  }
  .bannerTienda .cuadradoBanner {
    margin: 1vh;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 45vh;
    right: -2px;
    background-color: #fafafa;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .bannerTienda .cuadradoBanner span {
    color: #f95500;
    font-size: 1.5em;
  }
  .bannerTienda .cuadradoBanner .mensaje2 {
    color: #a769af;
  }
}

/*Estilo Menu*/
.bannerMenu {
  width: 100%;
  height: 20vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/menu/bannerrecetas.jpg);
  height: 85vh;
}

.bannerMenu .cuadradoBanner {
  margin: 1vh;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45vh;
  right: 0px;
  background-color: #fafafa;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.bannerMenu .cuadradoBanner span {
  color: #f95500;
  font-size: 1.5em;
}

.bannerMenu .cuadradoBanner .mensaje2 {
  color: #a769af;
}

.mainContainer {
  background-color: #efede4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: solid 3px #e1dbc1;
  border-bottom: solid 3px #e1dbc1;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.mainContainer .plato {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainContainer img {
  width: 50%;
  max-width: 460px;
}

.mainContainer img:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
  -webkit-transition: all 0.5s ease-in-out 0.05s;
  transition: all 0.5s ease-in-out 0.05s;
}

.mainContainer .infoPlato {
  color: #a81e22;
}

.mainContainer .infoPlato h4 {
  text-transform: uppercase;
  border-bottom: solid 1px #cdc59a;
  margin-bottom: 22px;
  padding-bottom: 22px;
  margin-top: 22px;
  color: #333333;
}

.contenedorReverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fafafa;
}

@media (max-width: 720px) {
  .mainContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=estilos.css.map */