body {
    font-family: $font;
    font-weight: $font-regular;
}

.type-light {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
}

.type-regular {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

.type-bold {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}



