body {
    background-color: $fondo;
}

#header {
    display: flex;
    background-color: $fondo-header;

    button span { 
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        border-radius: .25rem;

    }  
    
    .iconoGlobo {
        width: 50px; 
    }
    
    .miNavBar {
       
    color:$texto;
    font-weight: $font-regular;
    text-decoration: none;
    display: inline-block;

        &:hover {
            border-bottom: solid 1px black;
    
        }
        span {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
    
} 
.bi.bi-cart {
    font-size: 35px;
    position: absolute;
    right: 15px;
}
   
h6 {
    position: absolute;
    right: 150px;
}


.btn-contact {
    position: absolute;
    right: 10px;
    background-color: #7c9473;
    width: 125px;
    border: #fafafa;
    &:hover {

        border: solid 1px whitesmoke;
        
    }
}   

.imagenCarrusel {
    width: $tamaño-carrusel;
}


.contenedor_mobile {
    display: none;

}
.Carrousel{
    margin-top: 98px;
    
}

@media (max-width: 990px) {

    .bi.bi-cart {
        font-size: 35px;
        position: fixed;
        right: 25px;
    }
    h6 {
        position: fixed;
        right: 10px;
    }
    .btn-contact {
        position: relative;
        right: 0;
        display: inline-block;
        width: 125px;
        
    }
    .Carrousel{
        display: none;
    }
    .contenedor_mobile {
        display: block;
        text-align: center;
        margin-top: 98px;
    
        .contenedor_mobile-image {

            @include contenedorMobile-Img;
            background-image: url(../images/pastasfrescas-mobile.jpg);
        }
            
        .contenedor_mobile-image2 {

            @include contenedorMobile-Img;
            background-image: url(../images/piza-mobile.jpg);
            
        }
        .contenedor_mobile-image3 {
            @include contenedorMobile-Img;
            background-image: url(../images/tapasss-mobile.jpg);
            
        }
        
    } 
}



#footer {
    background-color: $fondo-header;
    
    .colorFooter {

        color:$texto;

        span {
            color: $texto;
            
        }
        a{
            text-decoration: none;
        }    
    
    }
     
       
    
    
    .list_socialMedia {
        border: 0.5px solid;
        border-right: #333;
        border-left: #333;
        display: flex;
        justify-content: space-around; 
        list-style: none;
        padding: 20px;

        a {
            font-size: 20px;
            color:$texto;
            
        }

    }
}

/* RECETAS STYLE */

.marginTop {
    margin-top: $margin-top;
   
}

.contenedorImg img{

    height: auto;
    
    &:hover {
        opacity: 0.6;

    }
}

.bannerRecetas {
    @include contenedorMobile-Img;
    background-image: url(../images/recetas/banner4.jpg);
    height: 85vh;
   
    .cuadradoBanner {
        margin: 1vh;
        position: absolute;
        display: flex;
        width: 45vh;
        right: 0px;
        background-color: #fafafa;
        flex-direction: column;
        justify-content: space-around;

        span {
            color:#f95500;
            font-size: 1.5em;
        }
        .mensaje2 {
            color: #a769af;        
        }
    }
}

.contenidoCentrado {
    @include itemsCentrados;
    width: 100%;
    
}

/*Tienda Style*/

.bannerTienda {

    @include contenedorMobile-Img;
    background-image: url(../images/recetas/banner3.jpg);
    height: 85vh;

    .cuadradoBanner {
        margin: 1vh;
        position: absolute;
        display: flex;
        width: 45vh;
        right: 0px;
        background-color: #fafafa;
        flex-direction: column;
        justify-content: space-around;

        span {
            color:#f95500;
            font-size: 1.5em;
        }
        .mensaje2 {
            color: #a769af;        
        }
    }

}


@media (max-width: 576px) {

        .bannerTienda{
        @include contenedorMobile-Img;
        background-image: url(../images/recetas/banner3.jpg);
        height: 85vh;

        .cuadradoBanner {
            margin: 1vh;
            position: absolute;
            display: flex;
            width: 45vh;
            right: -2px;
            background-color: #fafafa;
            flex-direction: column;
            justify-content: space-around;

            span {
                color:#f95500;
                font-size: 1.5em;
            }
            .mensaje2 {
                color: #a769af;        
            }
        }
    }
}

/*Estilo Carta*/

.bannerMenu {

    @include contenedorMobile-Img;
    background-image: url(../images/menu/bannerrecetas.jpg);
    height: 85vh;

    .cuadradoBanner {
        margin: 1vh;
        position: absolute;
        display: flex;
        width: 45vh;
        right: 0px;
        background-color: #fafafa;
        flex-direction: column;
        justify-content: space-around;

        span {
            color:#f95500;
            font-size: 1.5em;
        }
        .mensaje2 {
            color: #a769af;        
        }
    }

}

.mainContainer {

    background-color: #efede4;
    display: flex;
    align-items: center;
    border-top: solid 3px #e1dbc1;
    border-bottom: solid 3px #e1dbc1 ;
    justify-content: space-around;
    

    .plato{
        display: flex;
        align-items: center;
        justify-content: center;
        

    }
    
    img { 
        width: 50%;
        max-width: 460px;
          
        &:hover {
            
            transform: scale(1.04);
            transition: all 0.5s ease-in-out 0.05s;
        }
    }   
    
   .infoPlato {
    
    color: #a81e22;
    
        h4 {
        text-transform: uppercase;
        border-bottom: solid 1px #cdc59a;
        margin-bottom: 22px;
        padding-bottom: 22px;
        margin-top: 22px;
        color: #333333;
        }   
   }
        
}

.contenedorReverse {
    flex-direction: row-reverse;
    align-items:center; 
    background-color: #fafafa;
      
}
@media (max-width: 720px) {
    .mainContainer {
        flex-direction: column;
    }
}    


/*  Formulario Reserva style MODAL  */

.form-group {
    margin: 0;
}
#exampleFormControlTextarea1{
    resize: none;
}

